<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Escher / SVG</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>

<body>

    <section class="section">
    <div class="container">
	    <h1 class="title is-size-1">Escher / SVG / TypeScript - experiment</h1>
	    <div class="is-size-4">
	    You should try this on a "large" screen. It will probably not work on your
	    mobile phone. Just move the yellow dots around and see what happens.
	    <br/><br/>
	    </div>
	    <div id="app"></div>
	    <div id="canvas"></div>
	    <div class="content">
		    <br/>
	    <ul class="is-size-4">
		    <li>Together with my dauthter I quite often visit the <a href="https://www.malbar-saarbruecken.de/">Malbar</a>. I had the idea to include some Escher-like patterns in our experiments. So I had to understand how those patterns work. That was fun. Getting them to the work piece is still an unsolved challenge.</li>
		    <li>I have to learn some more Typescript for another fun project, so this was a nice opportunity to get started. Actually I don't like front end development at all, but Typescript and Vuejs make it at least less annoying.</li>
		    <li>Thanks to <a href="https://www.sarasoueidan.com/">Sara Soueidan</a> for all the SVG related blog posts. The made it much easier to get started.</li>
	    </div>
    </div>
  </section>
</body>

</html>
